.home__title{
  margin-bottom: 64px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.home__container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit,minmax(600px, 1fr));
}
.home__form{
  display: flex;
  justify-content: center;
}
.home__input{
  justify-self: center;
  align-self: center;
  background-color: var(--main);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 32px;
}
.home__input::placeholder{
  color: var(--soft-dark);
}