#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      max-content,
      1fr
    )
  );
}
